<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137474369306-ha3sbqtveh83f4d8f0monkcgdqdienjp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137474369306-ha3sbqtveh83f4d8f0monkcgdqdienjp</string>
	<key>API_KEY</key>
	<string>AIzaSyDchi5ooOKr9Ki6Wcw10mXPVRygWw_9ePE</string>
	<key>GCM_SENDER_ID</key>
	<string>137474369306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>deyi.SocialCommunity</string>
	<key>PROJECT_ID</key>
	<string>socialcommunity-37ef5</string>
	<key>STORAGE_BUCKET</key>
	<string>socialcommunity-37ef5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137474369306:ios:d454ff2e14de16a03c2ea3</string>
</dict>
</plist>